__pycache__/
.env
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.zip
# Ignore uploaded files but keep the folder
static/uploads/*
!static/uploads/.gitkeep
generated/
ecx-progression-app-*.json
it-progression-form-*.json
